html,body{
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: antiquewhite;
}

.Quadro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 20rem;
}

.card{
    padding: 1rem;
}